img {
    float: left;
    border: 3px solid white;
    margin-top: 0px;
    width: 22%;
    margin-left: 400px;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

p {
    color: lightsalmon;
    text-align: left;
    font-size: 120%;
    float: right;
}

nav {
    background-color: darkred;
}

footer {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    text-align: left;
}

.container {
    margin: 50px 900px;
    width: 650px;
}

.center {
    text-align: center;
}

.main {
    color: red;
    font-size: 200px;
    text-align: center;
    padding-top: 15%;
    letter-spacing: 75px;
}

.secondary {
    color: red;
    font-size: 100px;
}

.main, .secondary {
    line-height: 30px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: darkred;
}

.home {
    background-image: url("./resources/doja.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

.navi {
    font-size: 200%;
    text-decoration: none;
    color: red;
    padding-right: 150px;
    padding-left: 150px;
}

.footi {
    color: darkred;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size:125%;
}

.song {
    background-color: black;
}

.song-title {
    color: darkred;
    font-size: 75px;
    text-align: center;
    letter-spacing: 75px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: red;
}

.return {
    text-decoration: none;
    color: lightsalmon;
    font-size: 150%;
    letter-spacing: 15px;
}

.info {
    text-align: left;
    margin-left: 150px;
}