body {
    background-image: url("./resources/doja.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

h1 {
    color: red;
    font-size: 200px;
    text-align: center;
}

h3 {
    color: red;
    font-size: 100px;
}

footer {
    text-align: right;
    padding-top: 250px;
}

.center {
    text-align: center;
}

.main {
    padding-top: 15%;
    letter-spacing: 75px;
}

.main, .secondary {
    line-height: 30px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: darkred;
}

.navi {
    font-size: 200%;
    text-decoration: none;
    color: red;
    padding-right: 150px;
    padding-left: 150px;
}

.footi {
    color: darkred;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    font-size:125%;
}